alabaster==0.7.11
argh==0.26.2
asn1crypto==0.24.0
autocorrect==0.3.0
Babel==2.6.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
CommonMark==0.5.4
conda==4.5.10
cryptography==2.2.2
cycler==0.10.0
Cython==0.28.5
decorator==4.3.0
docutils==0.14
Flask==1.0.2
gunicorn==19.9.0
idna==2.6
imagesize==1.0.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
livereload==2.5.2
MarkupSafe==1.0
matplotlib==2.2.2
menuinst==1.4.14
mkl-fft==1.0.4
mkl-random==1.0.1
networkx==2.1
nltk==3.3
numpy==1.15.0
packaging==17.1
pathtools==0.1.2
pipenv==2018.7.1
port-for==0.3.1
pycosat==0.6.3
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
pywin32==223
PyYAML==3.13
recommonmark==0.4.0
requests==2.18.4
ruamel-yaml==0.15.37
scikit-fuzzy==0.3.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.1.0
tornado==5.0.2
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
watchdog==0.8.3
Werkzeug==0.14.1
win-inet-pton==1.0.1
wincertstore==0.2
